{% extends "app/index.html" %} {% block content %}
<div class="container">
    <div class="jumbotron">
        <div align="center" class="container">
            <br/>
            <h1>Things</h1>
        </div>
    </div>
    {% for things in things %}
    <div class="panel panel-primary">
        <div class="panel-heading" data-toggle="collapse" aria-expanded="false" href="#collapseExample{{ things.id }}" aria-controls="collapseExample{{ things.id }}">
            <h3 class="panel-title">{{ things.name }}</h3>
        </div>
        <div class="container panel-body collapse" id="collapseExample{{ things.id }}">
            <h4>
            	Description: {{ things.description }}
            </h4>
            <h4>
            	
            </h4>
    		{% for event in things.events %}
        		{{event}} <br/>
    		{% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% if not things %}
<div class="container">
    <h4 align="center">There are no things available right now.</h4>
</div>
{% endif %}
</div>
{% endblock %}
