{% extends "app/index.html" %} {% block content %}
<div class="container">
    <div class="jumbotron">
        <div align="center">
            <br/>
            <h1>Things</h1>
        </div>
    </div>
    <div class="row">
        {% for t in things %}
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" data-toggle="collapse" aria-expanded="false" href="#collapseExample{{t.id}}" aria-controls="collapseExample{{t.id}}">
                    <h3 class="panel-title" href="/things/{{ t.id }}">{{ t.name }}</h3>
                </div>
                <div class="container panel-body collapse" id="collapseExample{{ t.id }}">
                    <strong> Description:</strong> {{ t.description }}
                    <br/>
                    <strong>MAC:</strong> {{ t.mac_address }}
                    <br/>
                    <strong>IP:</strong> {{ t.ip_address }}
                    <br/>
                    <strong>Location: </strong> {{ t.location }}
                    <br/>
                    <strong>admin or not?: </strong> {{ t.admin_or_not }}
                    <br/>
                    <strong>States:</strong>
                    <br/> {% for s in t.state %} {{s.name}}
                    <br/> {% endfor %}
                    <strong>Permissions:</strong>
                    <br/> {% for p in t.state %} {{p.name}}
                    <br/> {% endfor %}
                    <strong>Connections:</strong>
                    <br/> {% for c in t.connections %} {{c.name}}
                    <br/> {% endfor %}
                    <strong>URLs visited:</strong>
                    <br/> {% for u in t.state %} {{u.name}}
                    <br/> {% endfor %}
                    <strong>Form:</strong>
                    <br/> {{ }}
                </div>
            </div>
        </div>
        <!-- <div class="col-md-8">
            Permissions {% for p in t.permissions %} {{p}} {{p.name}}
            <br/> {% endfor %}
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div> -->
        {% endfor %}
    </div>
    {% if not things %}
    <div class="container">
        <h4 align="center">There are no things available right now.</h4>
    </div>
</div>
{% endif %}
</div>
{% endblock %}
