{% extends "app/index.html" %} {% block content %}
<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
        {% for t in things %}
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="card">
                <div class="card-height-indicator"></div>
                <div class="card-content">
                    <div class="card-image">
                        <a href="/things/{{ t.id }}"> <img src="files/{{ t.image_file }}" alt="Loading image...">
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="/things/{{ t.id }}">
                            <h4 style="margin-top: -2px">{{ t.name }}</h4>
                        </a>
                        <h5 style="margin-top: -2px">{{ t.vendor }}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if not things %}
    <div class="container">
        <h4 align="center">There are no things available right now.</h4>
    </div>
</div>
{% endif %}
</div>
{% endblock %}
